.main-content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
}

.custom-shape-divider-bottom-1681437403 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1681437403 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 42px;
}

.custom-shape-divider-bottom-1681437403 .shape-fill {
    fill: #2F3041;
}