.header {
    max-width: 100vw;
    padding: 0 20%;
    overflow: hidden;
    position: relative;
}

.main {
    max-width: 100vw;
    height: 110vh;
    padding: 0 20%;
    background-color: #242532;
    overflow: hidden;
    position: relative;
}

.footer {
    max-width: 100vw;
    height: 46vh;
    padding: 0 20%;
    background-color: #2F3041;
    overflow: hidden;
    position: relative;
}
